#particles-js {
  width: 100%;
  height: 100%;
  .particles-js-canvas-el {
    max-height: 85vh;
  }
  z-index: 1;
}

#gee {
  padding: 8px 0;
  margin-bottom: 20px;
  .gt_holder {
    &.gt_float {
      width: 100%;
    }
    .gt_slider {
      width: 100%;
    }
    .gt_ajax_tip {
      right: 0;
    }
  }
}

.account {
  position: absolute;
  left: 50%;
  margin-left: -220px;
  z-index: 2;
}
.account__wrapper {
  width: 440px;
  background: #fff;
  border-radius: 5px;
  margin: 18vh auto;
  padding: 0 50px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
}

.account-title {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 30px;
}

.account-form {
  margin-top: 20px;
  .account-create {
    margin: 0 auto;
    display: block;
  }
  .account-code__btn {
    font-size: 24px;
    vertical-align: -4px;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      color: #0e77ca;
    }
  }
}

.account-signup__phone {
  .ant-input-group-addon {
    width: 35%;
  }
}

.account-login__input_prefix {
  .ant-input-group-addon {
    width: 10%;
    font-size: 16px;
  }
}

.account-form__forget {
  float: right;
}