$background-color: #fff;
$profile-font-color: $background-color;

$career-border: 1px solid #e9e9e9;

$career-title-color: #1899d1;

$career-font-size-3: #333333;
$career-font-size-6: #666666;
$career-font-size-9: #999999;

$font-family: '';
