@font-face {
  font-family: 'qbt-font';
  src: url('../font/qbt-font.eot?54729941');
  src: url('../font/qbt-font.eot?54729941#iefix') format('embedded-opentype'),
       url('../font/qbt-font.woff2?54729941') format('woff2'),
       url('../font/qbt-font.woff?54729941') format('woff'),
       url('../font/qbt-font.ttf?54729941') format('truetype'),
       url('../font/qbt-font.svg?54729941#qbt-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'qbt-font';
    src: url('../font/qbt-font.svg?54729941#qbt-font') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "qbt-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e601'; } /* '' */
.icon-angle-double-right:before { content: '\e602'; } /* '' */
.icon-iconfont-close:before { content: '\e603'; } /* '' */
.icon-clock:before { content: '\e604'; } /* '' */
.icon-signal:before { content: '\e605'; } /* '' */
.icon-down:before { content: '\e606'; } /* '' */
.icon-weibo:before { content: '\e607'; } /* '' */
.icon-bookmark:before { content: '\e608'; } /* '' */
.icon-location:before { content: '\e609'; } /* '' */
.icon-up-open:before { content: '\e610'; } /* '' */
.icon-qrcode:before { content: '\e611'; } /* '' */
.icon-key:before { content: '\e612'; } /* '' */
.icon-help-circled:before { content: '\e613'; } /* '' */
.icon-iconfont-wenbenshuru:before { content: '\e614'; } /* '' */
.icon-right-dir-1:before { content: '\e615'; } /* '' */
.icon-youtube-1:before { content: '\e616'; } /* '' */
.icon-angle-double-down:before { content: '\e617'; } /* '' */
.icon-angle-double-up:before { content: '\e618'; } /* '' */
.icon-graduation-cap:before { content: '\e619'; } /* '' */
.icon-paper-plane:before { content: '\e620'; } /* '' */
.icon-attach-1:before { content: '\e621'; } /* '' */
.icon-comment:before { content: '\e622'; } /* '' */
.icon-doc:before { content: '\e623'; } /* '' */
.icon-user:before { content: '\e624'; } /* '' */
.icon-stackoverflow-1:before { content: '\e625'; } /* '' */
.icon-mail:before { content: '\e626'; } /* '' */
.icon-user-1:before { content: '\e627'; } /* '' */
.icon-lock:before { content: '\e628'; } /* '' */
.icon-off:before { content: '\e629'; } /* '' */
.icon-plus:before { content: '\e630'; } /* '' */
.icon-ok:before { content: '\e631'; } /* '' */
.icon-down-dir:before { content: '\e632'; } /* '' */
.icon-up-dir:before { content: '\e633'; } /* '' */
.icon-left-dir:before { content: '\e634'; } /* '' */
.icon-up:before { content: '\e635'; } /* '' */
.icon-upload:before { content: '\e636'; } /* '' */
.icon-stop:before { content: '\e637'; } /* '' */
.icon-phone:before { content: '\e638'; } /* '' */
.icon-star:before { content: '\e639'; } /* '' */
.icon-right-small:before { content: '\e640'; } /* '' */
.icon-plus-circled:before { content: '\e641'; } /* '' */
.icon-angle-double-left:before { content: '\e642'; } /* '' */
.icon-down-bold:before { content: '\e643'; } /* '' */
.icon-up-bold:before { content: '\e644'; } /* '' */
.icon-desktop:before { content: '\e645'; } /* '' */
.icon-camera:before { content: '\e646'; } /* '' */
.icon-map:before { content: '\e647'; } /* '' */
.icon-heart-empty:before { content: '\e648'; } /* '' */
.icon-down-circle:before { content: '\e649'; } /* '' */
.icon-menu:before { content: '\e650'; } /* '' */
.icon-move:before { content: '\e651'; } /* '' */
.icon-eye:before { content: '\e652'; } /* '' */
.icon-trash:before { content: '\e653'; } /* '' */
.icon-minus:before { content: '\e654'; } /* '' */
.icon-star-empty:before { content: '\e655'; } /* '' */
.icon-filter:before { content: '\e656'; } /* '' */
.icon-eye-off:before { content: '\e657'; } /* '' */
.icon-attention:before { content: '\e658'; } /* '' */
.icon-cw:before { content: '\e659'; } /* '' */
.icon-cog:before { content: '\e660'; } /* '' */
.icon-block:before { content: '\e661'; } /* '' */
.icon-right-circle:before { content: '\e662'; } /* '' */
.icon-users:before { content: '\e663'; } /* '' */
.icon-volume-down:before { content: '\e664'; } /* '' */
.icon-newspaper:before { content: '\e665'; } /* '' */
.icon-left-open:before { content: '\e666'; } /* '' */
.icon-spin4:before { content: '\e667'; } /* '' */
.icon-right-open:before { content: '\e668'; } /* '' */
.icon-briefcase:before { content: '\e669'; } /* '' */
.icon-download-cloud:before { content: '\e670'; } /* '' */
.icon-megaphone:before { content: '\e671'; } /* '' */
.icon-heart:before { content: '\e672'; } /* '' */
.icon-android:before { content: '\e673'; } /* '' */
.icon-fire:before { content: '\e674'; } /* '' */
.icon-link:before { content: '\e675'; } /* '' */
.icon-male:before { content: '\e676'; } /* '' */
.icon-female:before { content: '\e677'; } /* '' */
.icon-pencil:before { content: '\e678'; } /* '' */
.icon-home:before { content: '\e679'; } /* '' */
.icon-loop-alt:before { content: '\e680'; } /* '' */
.icon-share-1:before { content: '\e681'; } /* '' */
.icon-wechat:before { content: '\e682'; } /* '' */
.icon-graduation-cap-1:before { content: '\e683'; } /* '' */
.icon-money:before { content: '\e684'; } /* '' */
.icon-bell:before { content: '\e685'; } /* '' */
.icon-signal-1:before { content: '\e686'; } /* '' */
.icon-emo-unhappy:before { content: '\e687'; } /* '' */
.icon-emo-happy:before { content: '\e688'; } /* '' */
.icon-iconfont-biaoshengbang:before { content: '\e689'; } /* '' */
.icon-th-list:before { content: '\e690'; } /* '' */
.icon-iconfont-mulu:before { content: '\e691'; } /* '' */
.icon-macstore:before { content: '\e692'; } /* '' */
.icon-iconfont-tishi:before { content: '\e693'; } /* '' */
.icon-mobile:before { content: '\e694'; } /* '' */
.icon-iconfont-bianjiwenjian:before { content: '\e695'; } /* '' */
.icon-iconfont-shejishi:before { content: '\e696'; } /* '' */
.icon-iconfont-tianjiashangjia:before { content: '\e697'; } /* '' */
.icon-iconfont-zhanghu:before { content: '\e698'; } /* '' */
.icon-chat:before { content: '\e699'; } /* '' */
.icon-qq:before { content: '\e700'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e701'; } /* '' */
.icon-iconfont-ditu:before { content: '\e702'; } /* '' */
.icon-angle-up:before { content: '\e703'; } /* '' */
.icon-angle-down:before { content: '\e704'; } /* '' */
.icon-angle-left:before { content: '\e705'; } /* '' */
.icon-angle-right:before { content: '\e706'; } /* '' */
.icon-iconfont-xiazai:before { content: '\e707'; } /* '' */
.icon-calendar:before { content: '\e708'; } /* '' */
.icon-comment-1:before { content: '\e709'; } /* '' */
.icon-resize-small:before { content: '\e800'; } /* '' */
.icon-resize-full:before { content: '\e801'; } /* '' */
.icon-iconfont-xiaofeizhebaozhang:before { content: '\e802'; } /* '' */
.icon-iconfont-fasong:before { content: '\e803'; } /* '' */
.icon-iconfont-yanjing:before { content: '\e804'; } /* '' */
.icon-iconfont-zan:before { content: '\e805'; } /* '' */
.icon-iconfont-androidalarmclock:before { content: '\e806'; } /* '' */
.icon-iconfont-wujiaoxing74:before { content: '\e807'; } /* '' */
.icon-iconfont-appreciatefill:before { content: '\e808'; } /* '' */
.icon-iconfont-appreciate:before { content: '\e809'; } /* '' */
.icon-iconfont-mark:before { content: '\e80a'; } /* '' */
.icon-iconfont-markfill:before { content: '\e80b'; } /* '' */
.icon-iconfont-attention:before { content: '\e80c'; } /* '' */
.icon-iconfont-arrowleft:before { content: '\e80d'; } /* '' */
.icon-appstore:before { content: '\e80e'; } /* '' */
.icon-uniE60F-1:before { content: '\e80f'; } /* '' */
.icon-uniE603:before { content: '\e810'; } /* '' */
.icon-uniE604:before { content: '\e811'; } /* '' */
.icon-uniE60D:before { content: '\e812'; } /* '' */
.icon-uniE618:before { content: '\e813'; } /* '' */
.icon-uniE61C:before { content: '\e814'; } /* '' */
.icon-uniE620:before { content: '\e815'; } /* '' */
.icon-uniE624:before { content: '\e816'; } /* '' */
.icon-uniE626:before { content: '\e817'; } /* '' */
.icon-uniE627:before { content: '\e818'; } /* '' */
.icon-uniE62A:before { content: '\e819'; } /* '' */
.icon-uniE639:before { content: '\e81a'; } /* '' */
.icon-uniE649:before { content: '\e81b'; } /* '' */
.icon-uniE6F2:before { content: '\e81c'; } /* '' */
.icon-uniE6EE:before { content: '\e81d'; } /* '' */
.icon-uniE6CC:before { content: '\e81e'; } /* '' */
.icon-uniE67A:before { content: '\e81f'; } /* '' */
.icon-uniE672:before { content: '\e820'; } /* '' */
.icon-uniE666:before { content: '\e821'; } /* '' */
.icon-uniE61A:before { content: '\e822'; } /* '' */
.icon-uniE60F:before { content: '\e823'; } /* '' */
.icon-uniE618-1:before { content: '\e824'; } /* '' */
.icon-uniE620-1:before { content: '\e825'; } /* '' */
.icon-uniE62B:before { content: '\e826'; } /* '' */
.icon-uniE62D:before { content: '\e827'; } /* '' */
.icon-uniE62E:before { content: '\e828'; } /* '' */
.icon-uniE62F:before { content: '\e829'; } /* '' */
.icon-uniE642:before { content: '\e82a'; } /* '' */
.icon-uniE646:before { content: '\e82b'; } /* '' */
.icon-uniE64D:before { content: '\e82c'; } /* '' */
.icon-uniE64C:before { content: '\e82d'; } /* '' */
.icon-uniE602:before { content: '\e82e'; } /* '' */
.icon-uniE603-1:before { content: '\e82f'; } /* '' */
.icon-uniE609:before { content: '\e830'; } /* '' */
.icon-uniE603-2:before { content: '\e831'; } /* '' */
.icon-uniE61A-1:before { content: '\e832'; } /* '' */
.icon-uniE69A:before { content: '\e833'; } /* '' */
.icon-uniE600:before { content: '\e834'; } /* '' */
.icon-uF007D:before { content: '\e835'; } /* '' */
.icon-uniE601:before { content: '\e836'; } /* '' */
.icon-uniE602-1:before { content: '\e837'; } /* '' */
.icon-uniE604-1:before { content: '\e838'; } /* '' */
.icon-uniE605:before { content: '\e839'; } /* '' */
.icon-uniE606:before { content: '\e83a'; } /* '' */
.icon-uF0043:before { content: '\e83b'; } /* '' */
.icon-uniE623:before { content: '\e83c'; } /* '' */
.icon-uniE612:before { content: '\e83d'; } /* '' */
.icon-uniE6B9:before { content: '\e83e'; } /* '' */
.icon-uniE744:before { content: '\e83f'; } /* '' */
.icon-uniE647:before { content: '\e840'; } /* '' */
.icon-uniE662:before { content: '\e841'; } /* '' */
.icon-uniE663:before { content: '\e842'; } /* '' */
.icon-uniE77F:before { content: '\e843'; } /* '' */
.icon-uniE646-1:before { content: '\e844'; } /* '' */