
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492569153676'); /* IE9*/
  src: url('iconfont.eot?t=1492569153676#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492569153676') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492569153676') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492569153676#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti2:before { content: "\e600"; }

.icon-yaoqing:before { content: "\e6b9"; }

.icon-tongyi:before { content: "\e602"; }

.icon-collect:before { content: "\e603"; }

.icon-uncollect:before { content: "\e604"; }

.icon-tuoyuan:before { content: "\e607"; }

.icon-ziyuan:before { content: "\e60a"; }

.icon-xingzhuang-:before { content: "\e60b"; }

.icon-xingzhuangkaobei:before { content: "\e60c"; }

.icon-collect1:before { content: "\e60d"; }

.icon-logo_title:before { content: "\e60e"; }

.icon-logo:before { content: "\e60f"; }

